.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item .page-link {
    color: #5a6268;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
}
